<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :tutor_id, :value => meetinginfo.tutor_id %>
    <%= f.hidden_field :start_time, :value => meetinginfo.start_time%>
    <%= f.hidden_field :duration, :value => meetinginfo.length%>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label 'message to the tutor:' %><br />
    <%= f.text_area :message, :size => "50x8" %>
  </div>


  <%if false%>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <%= f.label :accept %><br />
    <%= f.number_field :accept %>
  </div>
  <%end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
