<h1>Request meeting with tutor</h1>
<div id="schedulecontainer">
  <div id="meetinginfo">
    <h3>Meeting Info:</h3>
    <div><div class="inlinetitle">Meeting Type: </div><div class="inlineitem"><%= meetinginfo.timetype == 0 ? "virtual":"face2face"%></div></div>
    <div><div class="inlinetitle">Tutor:</div><div class="inlineitem"> <%= meetinginfo.tutor.user.fullname %></div></div>
    <div><div class="inlinetitle">Date:</div> <div class="inlineitem"><%= meetinginfo.start_time.strftime('%D') %></div></div>
    <div><div class="inlinetitle">Time: </div><div class="inlineitem"><%= meetinginfo.start_time.strftime('%H:%M')%></div></div>
    <div><div class="inlinetitle">Duration:</div> <div class="inlineitem"><%= pluralize(meetinginfo.length, 'hour')%></div></div>
    <div><div class="inlinetitle">Tutor Rate:</div> <div class="inlineitem">$<%= meetinginfo.tutor.rate%></div></div>
    <div><div class="inlinetitle">Price for this meeting: </div><div class="inlineitem">$<%= meetinginfo.tutor.rate * meetinginfo.length %></div></div>
    
  </div>
  <div id="meetingform">
    <%= render 'form' %>
  </div>
<div class="fix"></div>
</div>
<%= link_to 'Back', :back %>