<h1>Request meeting with tutor</h1>
<div id="schedulecontainer">
  <div id="meetingform">
    <%= form_for @meeting, :url => create_meeting_meetings_path(@meeting) do |f|%>
      <% if @meeting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>
          <ul>
            <% @meeting.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :tutor %><br />
        <%= f.select 'tutor_id', options_from_collection_for_select(Tutor.all, 'id' , "id")%>
      </div>
      <div class="field">
        <%= f.label :student %><br />
        <%= select_tag 'user_id', options_from_collection_for_select(@students, 'id' , "username")%>
      </div>

    <div class="field">
        <%= f.label :subject %><br />
        <%= f.select 'subject_id', options_from_collection_for_select(Subject.all, 'id', 'title')%>
      </div>
      <div class="field">
        <%= f.label :location %><br />
        <%= f.select 'location_id', options_from_collection_for_select(TutorLocation.all, 'id', 'name')%>
      </div>
      <div class="field">
        <%= f.label 'message to the tutor:' %><br />
        <%= f.text_area :message, :size => "50x8" %>
      </div>
      <div class="field">
        <%= label_tag 'Enter code for free Meeting:' %><br />
        <%= text_field_tag "code", "",:placeholder => "Code" %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <%end%>
  </div>
  <div class="fix"></div>
</div>
<%= link_to 'Back', meetings_path %>