<p id="notice"><%= notice %></p>

<p>
  <b>Meeting Name:</b>
  <%= @meeting.name %>
</p>


<p>
  <b>Subject:</b>
  <%= @meeting.subject %>
</p>

<p>
  <b>Start time:</b>
  <%=  %>
</p>

<p>
  <b>Tutor:</b>
  <%= @meeting.tutor.user.fullname %>
</p>
<p>
  <b>Student:</b>
  <%= @meeting.user.fullname %><%= @meeting.user.id %>
</p>

<p>
  <b>Message to the tutor:</b>
  <%= @meeting.message %>
</p>
<p>
  <b>Tutor Price/hour:</b>
  $<%= @meeting.tutor.rate %>, <b>Length:</b><%=@meeting.tutor_availability.length %>, total cost for this meeting:  <%=@meeting.tutor_availability.length*@meeting.tutor.rate %>
</p>

<p>
  <b>Payment Status:</b>
  <%= @meeting.paid ? "Paid":"waiting for payment" %>
</p>

<p>
  <b>Status:</b>
  <%= tutor_response %>
</p>
<p>
  <%= acceptlink%>
</p>
<p>
  <%= paymentlink%>
</p>

<div id="getstatus"><%=link_to "refresh meeting status", :mid=>@meeting.id%><div id="status" style="display: inline;"> status</div></div>

<!--if current tutor is expected tutor for this meeting, display start meeting option-->
<%if @meeting.paid == true && @meeting.accept == 1 && current_user.usertype == 'tutor' && @meeting.tutor.user == current_user %>
  <div class="bbbmeetingoption">
    <b>video conference options</b> 
  <% if current_user.usertype == 'tutor' %>
    <%= link_to 'create meeting', bbb_api_base_url + "create?" + @meeting.creatstring + "&checksum=" + sha1(@meeting.createsum), :id=>'create' %><br />
    <%= link_to 'start meeting', bbb_api_base_url + "join?" + @meeting.tujoinstring + "&checksum=" + sha1(@meeting.tujoinsum), :target => "_blank", :id=>'tutorjoin' %><br />
    <%if true%>
      <%= link_to 'check meeting status', bbb_api_base_url + "isMeetingRunning?" + @meeting.chkstring + "&checksum=" + sha1(@meeting.chksum), :id=>'ismeetingrunning' %><br />
      <%= link_to 'meeting info', bbb_api_base_url + "getMeetingInfo?" + @meeting.tujoinstring + "&checksum=" + sha1(@meeting.infosum),:id =>'meetinginfo' %><br />
      <%= link_to 'end meeting', bbb_api_base_url + "end?" + @meeting.endstring + "&checksum=" + sha1(@meeting.endsum), :id=> 'endmeeting' %><br />
    <%end%>
  <% end%>
  </div>
  
  
  <!--if current user is student, display joining link-->
<%elsif  @meeting.accept == 1 && @meeting.user_id == session[:user_id]%>
 
    <%= link_to 'student join meeting', bbb_api_base_url + "join?" + @meeting.stjoinstring + "&checksum=" + sha1(@meeting.stjoinsum), :target => "_blank",:id=>'studjoin' %><br />
  
<%end%>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
