<p id="notice"><%= notice %></p>
<div id="meetingshow">
<div class="meetingline">
  <div class="inlinetitle">Name:</div>
  <%= @meeting.name %>
</div>
<div class="meetingline">
  <div class="inlinetitle">Type:</div>
  <%= @meeting.tutor_availability.timetype == 1? "Face2Face":"Virtual" %>
</div>
<%if @meeting.tutor_availability.timetype == 1%>
  <div class="meetingline">
    <div class="inlinetitle">Location: </div>
    <%=@meeting.location.name%>
  </div>
<%end%>

<div class="meetingline">
  <div class="inlinetitle">Subject:</div>
  <%= @meeting.subject.title %>
</div>

<div class="meetingline">
  <div class="inlinetitle">Date:</div>
  <%= @meeting.tutor_availability.start_time.strftime("%D") %>
</div>
<div class="meetingline">
  <div class="inlinetitle">Duration:</div>
  <%= @meeting.tutor_availability.start_time.strftime("%H:%M") %>~<%= @meeting.tutor_availability.end_time.strftime("%H:%M %p") %>
</div>


<div class="meetingline">
  <div class="inlinetitle">Tutor:</div>
  <%= @meeting.tutor.user.fullname %>
</div>
<div class="meetingline">
  <div class="inlinetitle">Student:</div>
  <%= @meeting.user.fullname %>
</div>

<div class="meetingline">
  <div class="inlinetitle">Message to the tutor:</div>
  <%= @meeting.message %>
</div>
<div class="meetingline">
  <div class="inlinetitle">Price for this meeting:</div>
  $<%=@meeting.tutor_availability.length*@meeting.tutor.rate %>
</div>

<div class="meetingline">
  <div class="inlinetitle">Payment Status:</div>
  <%= @meeting.paid ? "Paid":"waiting for payment" %>
</div>
  <div class="inlinetitle">Meeting Status:</div>
  
<div class="meetingline">
  
</div>

<br />
<div class="meetingline">
  <%= acceptlink%>
</div>
<div class="meetingline">
  <%= paymentlink%>
</div>

<%if  @meeting.tutor_availability.timetype == 1 %>
  
<div class="meetingline">
  <div class="inlinetitle">Meeting Location:</div>
  <%=@meeting.location.name%>
</div>

<!--if current tutor is expected tutor for this meeting, display start meeting option-->
<%elsif @meeting.paid == true && @meeting.accept == 1 && current_user.usertype == 'tutor' && @meeting.tutor.user == current_user %>
  <div class="bbbmeetingoption">
    <div class="inlinetitle">video conference options</div> <br />
  <% if current_user.usertype == 'tutor' %>
    <%= link_to 'start meeting', :controller =>"meetings", :action=>"joinmeeting", :id=>@meeting.id %><br />
      <%if true || current_user.usertype == "superadmin"%><!--administration only-->
        <%= link_to 'check meeting status', bbb_api_base_url + "isMeetingRunning?" + @meeting.chkstring + "&checksum=" + sha1(@meeting.chksum), :id=>'ismeetingrunning' %><br />
        
        <%= link_to 'end meeting', bbb_api_base_url + "end?" + @meeting.endstring + "&checksum=" + sha1(@meeting.endsum), :id=> 'endmeeting' %><br />
      <%end%>
  <% end%>
  </div>
  
  
  <!--if current user is student, display joining link-->
<%elsif  @meeting.accept == 1 && @meeting.user_id == session[:user_id]%>
    <div class="meetingline">
      <div class="inlinetitle">Status:</div>
      <%= tutor_response(@meeting.status) %>
    </div>    
    <%= link_to 'student join meeting',:controller =>"meetings", :action=>"joinmeeting", :id=>@meeting.id,  :target => "_blank" %><br />
  <br />
<%end%>

<%= link_to 'Back', meetings_path %>
<%if session[:user_id] == @meeting.user_id%>
| 
<%= link_to 'Cancel', @meeting, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>
</div>