Hi, Dear its a reminder email for the end of <a href="/meetings/<%= @meeting.id %>"><i>meeting</i></a>
between the student name as <a href="/users/<%= @student.id %>"><i>Mr. <%= @student.fname%></i></a>
and the tutor name as <a href="/users/<%= @tutor.id %>"><i>Mr. <%= @tutor.fname%></i></a>

For feedback follow the link below :
<a href="https://docs.google.com/spreadsheet/viewform?fromEmail=true&formkey=dDUyc3FwSW85amwxSG42aEpMRGE4ZXc6MQ"></a>