Hi, Dear its a reminder email for the start of <a href="/meetings/<%= @meeting.id %>"><i>meeting</i></a>
between the student name as <a href="/users/<%= @student.id %>"><i>Mr. <%= @student.fname%></i></a>
and the tutor name as <a href="/users/<%= @tutor.id %>"><i>Mr. <%= @tutor.fname%></i></a>