<%"tutor_accept_meeting_request.html" %>

"Hi, Mr. <a href="http://tutorsprout.com/users/<%= @student.id %>"><i><%= @student.fname%></i></a> It is to inform you that Mr. <a href="http://tutorsprout.com/users/<%= @tutor.id %>"><i><%= @tutor.fname%></i></a> has accepted your <a href="http://tutorsprout.com/meetings/<%= @meeting.id %>"><i>meeting</i></a> request. Please check it in your future meetings."