<%"tutor_accept_meeting_request.html" %>

"Hi, <a href="/users/<%= @student.id %>"><i>Mr. <%= @student.fname%></i></a> It is to inform you that <a href="/users/<%= @tutor.id %>"><i>Mr. <%= @tutor.fname%></i></a> has accepted your <a href="/meetings/<%= @meeting.id %>"><i>meeting</i></a> request. Please check it in your future meetings."