<h1>Listing Payment Transaction</h1>

<table>
  <tr>
    <th>Transaction Id</th>
    <th>Tutor </th>
    <th>Student </th>
    <th>Meeting </th>
    <th>Paid amount at</th>
  </tr>
  <%@transaction.each do |trans|%>
    <tr>
      <td><%= trans.id %></td>
      <%@tutor = Tutor.find_by_id(trans.tutor_id)%>
      <td><%= link_to @tutor.user.fName + " " + @tutor.user.lName , tutor_path(@tutor)%></td>
      <%@student = User.find_by_id(trans.user_id)%>
      <td><%= link_to @student.fName + " " + @student.lName, user_path(@student) %></td>
      <%@meeting = Meeting.find_by_id(trans.meeting_id)%>
      <td><%= link_to @meeting.name , meeting_path(@meeting) %></td>
      <td><%= trans.created_at.strftime("%m/%d/%Y at %I:%M %p ") %></td>
    </tr>
  <% end %>
</table>

<br />
