<%unless @trans_free_code.blank?%>
  <h1>Listing Free Code Payment Transaction</h1>
  <%if current_user.usertype == "superadmin"%>
    <div>
      <%= form_tag '/admins/search_payments_transactions' do %>
        <p>
          <%= label_tag :free_code , "Enter a free code assign to SubAdmin"%>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
    </div>
  <%end%>
  <table>
    <tr>
      <th> Transaction Key</th>
      <th> Tutor </th>
      <th> Student </th>
      <th> Meeting </th>
      <th> Transaction Amount </th>
      <th> Paid amount at</th>
    </tr>

    <%if current_user.usertype == "superadmin"%>
      <%@trans_free_code.each do |trans|%>
        <tr>
          <%unless trans.pay_key.blank? %>
            <td><%= trans.pay_key %></td>
          <%else%>
            <td>NIL</td>
          <%end%>

          <%unless trans.tutor_id.blank? %>
            <td><%= link_to trans.tutor.user.fName + " " + trans.tutor.user.lName , tutor_path(trans.tutor)%></td>
          <%else%>
            <td>NIL</td>
          <%end%>

          <%unless trans.user_id.blank? %>
            <td><%= link_to trans.user.fName + " " + trans.user.lName, user_path(trans.user) %></td>
          <%else%>
            <td>NIL</td>
          <%end%>

          <%unless trans.meeting_id.blank? %>
            <td><%= link_to trans.meeting.name , meeting_path(trans.meeting) %></td>
          <%else%>
            <td>NIL</td>
          <%end%>

          <%unless trans.amount.blank? %>
            <td>$<%= trans.amount %></td>
          <%else%>
            <td>NIL</td>
          <%end%>

          <%unless trans.created_at.blank? %>
            <td><%= trans.created_at.strftime("%m/%d/%Y at %I:%M %p ") %></td>
          <%else%>
            <td>NIL</td>
          <%end%>
        </tr>
      <%end%>

    <%end%>
  </table>
  <br />
<%else%>
  <h1>Listing Payment Transaction</h1>

  <%if current_user.usertype == "superadmin"%>
    <div>
      <%= form_tag '/admins/search_payments_transactions' do %>
        <p>
          <%= label_tag :free_code , "Enter a free code assign to SubAdmin"%>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
    </div>
  <%end%>
  <table>
    <tr>
      <th> Transaction Key</th>
      <th> Tutor </th>
      <th> Student </th>
      <th> Meeting </th>
      <th> Transaction Amount </th>
      <th> Paid amount at</th>
    </tr>

    <%if current_user.usertype == "subadmin"%>
      <%@trans_subadmin.each do |trans|%>
        <tr>
          <%unless trans.pay_key.blank? %>
            <td><%= trans.pay_key %></td>
          <%else%>
            <td>NIL</td>
          <%end%>

          <%unless trans.tutor_id.blank? %>
            <td><%= link_to trans.tutor.user.fName + " " + trans.tutor.user.lName , tutor_path(trans.tutor)%></td>
          <%else%>
            <td>NIL</td>
          <%end%>

          <%unless trans.user_id.blank? %>
            <td><%= link_to trans.user.fName + " " + trans.user.lName, user_path(trans.user) %></td>
          <%else%>
            <td>NIL</td>
          <%end%>

          <%unless trans.meeting_id.blank? %>
            <td><%= link_to trans.meeting.name , meeting_path(trans.meeting) %></td>
          <%else%>
            <td>NIL</td>
          <%end%>

          <%unless trans.amount.blank? %>
            <td>$<%= trans.amount %></td>
          <%else%>
            <td>NIL</td>
          <%end%>

          <%unless trans.created_at.blank? %>
            <td><%= trans.created_at.strftime("%m/%d/%Y at %I:%M %p ") %></td>
          <%else%>
            <td>NIL</td>
          <%end%>
        </tr>
      <%end%>
    <%else%>
      <%unless @trans.blank?%>
        <%@trans.each do |trans|%>
          <tr>
            <%unless trans.pay_key.blank? %>
              <td><%= trans.pay_key %></td>
            <%else%>
              <td>NIL</td>
            <%end%>

            <%unless trans.tutor_id.blank? %>
              <td><%= link_to trans.tutor.user.fName + " " + trans.tutor.user.lName , tutor_path(trans.tutor)%></td>
            <%else%>
              <td>NIL</td>
            <%end%>

            <%unless trans.user_id.blank? %>
              <td><%= link_to trans.user.fName + " " + trans.user.lName, user_path(trans.user) %></td>
            <%else%>
              <td>NIL</td>
            <%end%>

            <%unless trans.meeting_id.blank? %>
              <td><%= link_to trans.meeting.name , meeting_path(trans.meeting) %></td>
            <%else%>
              <td>NIL</td>
            <%end%>

            <%unless trans.amount.blank? %>
              <td>$<%= trans.amount %></td>
            <%else%>
              <td>NIL</td>
            <%end%>

            <%unless trans.created_at.blank? %>
              <td><%= trans.created_at.strftime("%m/%d/%Y at %I:%M %p ") %></td>
            <%else%>
              <td>NIL</td>
            <%end%>
          </tr>
        <%end%>
      <% end %>
    <%end%>
  </table>
  <br />
<%end%>