<% total_paid = 0  %>
<%unless @searched_user_meetings.blank?%>
  <h1>Listing Meetings for Searched User</h1>
  <%if current_user.usertype == "superadmin" || current_user.usertype == "subadmin"%>
    <div>
      <%= form_tag '/admins/search_student_meetings_reports' do %>
        <p>
          <%= label_tag :name , "Enter a first name Or Last name to search for Student"%>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
    </div>
  <%end%>
  <table>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Length</th>
      <th>Payment</th>
      <th>Subject</th>
      <th>Tutor</th>
      <th>Student</th>
      <th>Response</th>
      <th>Amount</th>
    </tr>
    <%if current_user.usertype == "superadmin" || current_user.usertype == "subadmin"%>
      <%@searched_user_meetings.each do |meeting|%>
        <tr>
          <td><%= link_to meeting.name, meeting %></td>
          <td><%= meeting.tutor_availability.start_time.strftime("%D")%></td>
          <td><%= pluralize(meeting.tutor_availability.length,"hour")%></td>
          <td>
            <%if meeting.paid%>
              paid
            <%else%>
              waiting
            <%end%>
          </td>
          <% if  meeting.tutor %>
            <td><%= Subject.find(meeting.subject).title %></td>
            <td><%= link_to meeting.tutor.user.fullname,meeting.tutor.user %> </td>
            <td> <%= link_to meeting.user.fullname, meeting.user %> </td>
            <td><%= meeting_status(meeting.accept) %></td>
            <%if meeting.tutor_id == session[:tutor_id] && meeting.accept == 0 && current_user.username!="admin"%>
              <td><%= link_to 'accept', :id=> meeting.id, :controller => 'meetings', :action => 'show', :accept=>1%></td>
              <td><%= link_to 'reject', :id=> meeting.id, :controller => 'meetings', :action => 'show', :accept=>-1%></td>
            <%else%>
              <td colspan="2"></td>
            <%end%>
          <%else%>
            <td colspan="6"></td>
          <%end%>
          <td>
            $ <% if meeting.user.transaction.present? %>
              <%total_paid = total_paid + meeting.user.transaction.last.amount%>
              <%= meeting.user.transaction.last.amount%>
            <% else %>
              <%= 0.to_f%>
            <%end%>
          </td>
          <td><%= link_to 'Show', meeting %></td>
          <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
          <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%end%>
      <%= will_paginate(@searched_user_meetings , :params => {:search => @search})%>
    <%end%>
  </table>
  <br />
  Total Paid amount is $<%=total_paid %>
  <br />
<%else%>
  <%if current_user.usertype == "superadmin" || current_user.usertype == "subadmin"%>
    <div>
      <%= form_tag '/admins/search_student_meetings_reports' do %>
        <p>
          <%= label_tag :name , "Enter a first name Or Last name to search to search for Student"%>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
    </div>
  <%end%>
  No record found!
<%end%>