<%= form_for(@tutor) do |f| %>
  <% if @tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

      <ul>
      <% @tutor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.hidden_field :user_id, :value => params[:uid] %>
  </div>
  <div class="field">
    <%= f.label :transcript %><br />
    <%= f.text_field :transcript %>
  </div>
  <div class="field">
    <%= f.label :resume %><br />
    <%= f.text_field :resume %>
  </div>
  <div class="field">
    <%= f.label :university %><br />
    <%= f.text_field :university %>
  </div>
  <div class="field">
    <%= f.label :univ_identifier %><br />
    <%= f.text_field :univ_identifier %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
