<%=render 'searchtutor'%>
<br />
<div id="matchedsubs"> <%=matchlinks%></div>
<h2>Click on picture or name to see their open schedules</h2>
<table id="tutors">
  <thead>
    <tr>
      <th width="70"></th>
      <th width="210">Tutor</th>
      <th>Specialities</th>
    </tr>
  </thead>  
</table>
<% @tutors.each do |tutor| %>

<div class="tuteritem">
  <div class="avatar">
    <%=link_to image_tag(tutor.user.avatar.url(:thumb)), tutor.user %>
  </div><!--avatar div end-->
  <div class="tutordescription">
    <h3><%=link_to tutor.user.fullname, tutor.user%></h3>
    <p><%= tutor.user.university.name %></p>
    
    <%if false%><!--if admin-->
    <%= link_to 'Show', tutor %>
    <%= link_to 'Edit', edit_tutor_path(tutor) %>
    <%= link_to 'Destroy', tutor, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
  </div><!--tutordescription div end-->
  <div class="tutorschedule">
    <% tutor.subjects.each do |sub|%>
      <%=sub.title%>
    <%end%>
    
  </div><!--tutorschedule div end-->
  
  <% link_to 'select tutor', new_meeting_url(:tutid => tutor.id) %>
  <div class="fix"></div>
</div><!--tutoritem div end-->
<% end %>


<br />

<% link_to 'New Tutor', new_tutor_path %>
