

<!-- Main Content
   ================================================== -->
<div class="container">
  <div class="row">
    <%=render 'searchtutor'%>
  </div><!-- end row-->
</div><!-- end main content container-->

<!-- Search Results Section
================================================== -->

<div class="container">
  <%if @tutors.present?%>
    <% @tutors.each do |tutor| %>
      <% if tutor.user.present? && tutor.user%>
        <div class="row">
          <section id="search-result">
            <div class="span4">
              <section class="tutor-search">
                <h4>
                  
                  <%=link_to image_tag(tutor.user.avatar.url(:thumb), :style => "height:44px;width:44px" ), tutor.user %>
                  <%if tutor.user.fullname.present?%>
                    <%=link_to tutor.user.fullname, tutor.user%>
                  <%end%>
                </h4>
                <h6>
                  <% if tutor.user.university.present? %>
                    <%= tutor.user.university.name %>
                  <%end%>
                </h6>
              </section>
            </div>

            <div class="span8">
              <section class="tutor-skills">
                <% if tutor.subjects.present? %>
                  <h6>
                    <% tutor.subjects.each do |sub|%>
                      <%=sub.title%>
                    <%end%>
                  </h6>
                <%end%>
              </section>
            </div>
          </section>
        </div>
      <% end %>
    <% end %>
  <%#= will_paginate(@tutors,:params => {:university_id => params[:university_id],:subject => params[:subject]}) %>
    <%= will_paginate(@tutors) %>
  <%end%>
</div>

