<h1>Listing tutors</h1>

<table>
  <tr>
    <th>User</th>
    <th>Transcript</th>
    <th>Resume</th>
    <th>University</th>
    <th>rating</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tutors.each do |tutor| %>
  <tr>
    <td><%= tutor.user_id %></td>
    <td><%= tutor.transcript %></td>
    <td><%= tutor.resume %></td>
    <td><%= tutor.university %></td>
    <td>average rating</td>
    <td><%= link_to 'Show', tutor %></td>
    <td><%= link_to 'Edit', edit_tutor_path(tutor) %></td>
    <td><%= link_to 'Destroy', tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'select tutor', new_meeting_url(:tutid => tutor.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tutor', new_tutor_path %>
