<%= tutor_mgmt_links %>
<%if @subadmin_tutors.blank? && current_user.usertype!="subadmin"%>
  <%@tutors.each do |tutor|%>

    <% if tutor.user %>

      <div class="tuteritem">
        <div class="avatar">
          <% if tutor.user.avatar %>
            <%=link_to image_tag(tutor.user.avatar.url(:thumb)), tutor.user %>
          <% end %>
        </div><!--avatar div end-->
        <div class="tutordescription">
          <div>
            Name:<%= tutor.user.fullname%>
            Username: <%=tutor.user.username%>
          </div>
          <div>
            University:<%= tutor.user.university_id %>
          </div>
          <div>
            average rating<%= tutor.approved %>
          </div>
        </div><!--tutordescription div end-->

        <div class="tutorschedule">
          <%= approve_link(tutor)%><br />
          <%= link_to 'Show', tutor.user %> |
          <%= link_to 'Edit', edit_tutor_path(tutor) %> |
          <a href="/users/<%= tutor.user.id %>/edit/">Edit Personal</a> |
          <a href="/users/<%= tutor.user.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a> |
          <%= link_to 'Fire Tutor', tutor, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%if current_user.usertype=="superadmin" || current_user.usertype=="subadmin"%>
            <%= hidden_field_tag "tutor_id" , tutor%>
            | <%= link_to 'Create Or Show Tutor Availabilties', tutor_availabilities_path(:tutor_id => tutor) %>
          <%end%>
        </div><!--tutorschedule div end-->

        <div class="fix"></div>
      </div><!--tutoritem div end-->

    <% end %>
  <%end%>
  <%= will_paginate(@tutors) %>
<%else%>
  <%unless @subadmin_tutors.blank?%>
    <h2>Tutors of SubAdmin's Department</h2>
    <%@subadmin_tutors.each do |tutor|%>
      <% if tutor.user %>
        <div class="tuteritem">
          <div class="avatar">
            <% if tutor.user.avatar %>
              <%=link_to image_tag(tutor.user.avatar.url(:thumb)), tutor.user %>
            <% end %>
          </div><!--avatar div end-->
          <div class="tutordescription">
            <div>
              Name:<%= tutor.user.fullname%>
              Username: <%=tutor.user.username%>
            </div>
            <div>
              University:<%= tutor.user.university_id %>
            </div>
            <div>
              average rating<%= tutor.approved %>
            </div>
          </div><!--tutordescription div end-->

          <div class="tutorschedule">
            <%= approve_link(tutor)%><br />
            <%= link_to 'Show', tutor.user %> |
            <%= link_to 'Edit', edit_tutor_path(tutor) %> |
            <a href="/users/<%= tutor.user.id %>/edit/">Edit Personal</a> |
            <a href="/users/<%= tutor.user.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a> |
            <%= link_to 'Fire Tutor', tutor, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%if current_user.usertype=="superadmin" || current_user.usertype=="subadmin"%>
              <%= hidden_field_tag "tutor_id" , tutor%>
              | <%= link_to 'Create Or Show Tutor Availabilties', tutor_availabilities_path(:tutor_id => tutor) %>
            <%end%>
          </div><!--tutorschedule div end-->
          <div class="fix"></div>
        </div><!--tutoritem div end-->
      <% end %>
    <%end%>
  <%else%>
    <br/>
    No Tutor Found.
  <%end%>
<%end%>