<h1>Search for a Tutor</h1>
<%if current_user.present? && (current_user.usertype == "superadmin" || current_user.usertype == "subadmin")%>
  <div>
    <%= form_tag "/tutors/mgmt" do %>
      <p>
        <%= label_tag :name , "Enter the First name OR Last name to search for Tutor"%>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
  </div>
<%end%>

<%if @searched_user.blank?%>
  <%= tutor_mgmt_links %>
  <br/>
  <%if current_user.usertype == "superadmin"%>
    <h2>Tutors by Universities</h2>
    <p>
      <%=@univ%>
      <%University.first(10).each do |u|%>
        | <%= link_to u.name, :uid => u.id%>
      <%end%> | <%=link_to 'more'%>
    </p>
  <%end%>

  <%if @subadmin_tutors.blank? && current_user.present? && current_user.usertype!="subadmin"%>
    <%@tutors.each do |tutor|%>

      <% if tutor.user %>

        <div class="tuteritem">
          <div class="avatar">
            <% if tutor.user.avatar %>
              <%=link_to image_tag(tutor.user.avatar.url(:thumb)), tutor.user %>
            <% end %>
          </div><!--avatar div end-->
          <div class="tutordescription">
            <div>
              Name:<%= tutor.user.fullname%>
              Username: <%=tutor.user.username%>
            </div>
            <div>
              University:<%= tutor.user.university.name unless tutor.user.university.blank?%>
            </div>
            <div>
        <%#*average rating%>
        <%#= tutor.approved %>
            </div>
            <div>
              <% unless tutor.user.department.blank?%>
                Department:
                <%= tutor.user.department.name%>
              <%end%>
            </div>
          </div><!--tutordescription div end-->

          <div class="tutorschedule">
            <%= approve_link(tutor)%><br />
            <%= link_to 'Show', tutor.user %> |
            <%= link_to 'Edit', edit_tutor_path(tutor) %> |
            <a href="/users/<%= tutor.user.id %>/edit/">Edit Personal</a> |
            <a href="/users/<%= tutor.user.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a> |
            <%= link_to 'Fire Tutor', tutor, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%if current_user.usertype=="superadmin" || current_user.usertype=="subadmin"%>
              <%= hidden_field_tag "tutor_id" , tutor%>
              | <%= link_to 'Create Or Show Tutor Availabilties', tutor_availabilities_path(:tutor_id => tutor) %>
            <%end%>
          </div><!--tutorschedule div end-->

          <div class="fix"></div>
        </div><!--tutoritem div end-->

      <% end %>
    <%end%>
    <%= will_paginate(@tutors,:params => {:uid => @uid}) %>
  <%else%>
    <%unless @subadmin_tutors.blank?%>
      <h2>Tutors of SubAdmin's Department</h2>
      <%@subadmin_tutors.each do |tutor|%>
        <% if tutor.user %>
          <div class="tuteritem">
            <div class="avatar">
              <% if tutor.user.avatar %>
                <%=link_to image_tag(tutor.user.avatar.url(:thumb)), tutor.user %>
              <% end %>
            </div><!--avatar div end-->
            <div class="tutordescription">
              <div>
                Name:<%= tutor.user.fullname%>
                Username: <%=tutor.user.username%>
              </div>
              <div>
                University:<%= tutor.user.university_id %>
              </div>
          <%#*<div>%>
          <%#*average rating%>
          <%#= tutor.approved %>
          <%#*</div>%>
              <div>
                <% unless tutor.user.department.blank?%>
                  Department:
                  <%= tutor.user.department.name%>
                <%end%>
              </div>
            </div><!--tutordescription div end-->

            <div class="tutorschedule">
              <%= approve_link(tutor)%><br />
              <%= link_to 'Show', tutor.user %> |
              <a href="/users/<%= tutor.user.id %>/edit/">Edit Personal</a> |

          <%#= link_to 'Edit', edit_tutor_path(tutor) %>
          <%#*|%>
          <%#*<a href="/users/%>
          <%#= tutor.user.id %>
          <%#*"%>
          <%#*data-confirm="Are you sure?"%>
          <%#*data-method="delete" rel="nofollow">%>
          <%#*Delete%>
          <%#*</a>%>
          <%#*|%>
          <%#= link_to 'Fire Tutor', tutor, method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to 'Fire Tutor', "https://docs.google.com/a/coursespree.com/spreadsheet/viewform?formkey=dGFYSVRQaGNCaEo1SjFqNUZDNS1sVlE6MQ#gid=0" %> |
              <%= link_to 'Edit Tutor', "https://docs.google.com/a/coursespree.com/spreadsheet/viewform?formkey=dGFYSVRQaGNCaEo1SjFqNUZDNS1sVlE6MQ#gid=0" %> |
              <%= link_to 'Delete Tutor', "https://docs.google.com/a/coursespree.com/spreadsheet/viewform?formkey=dGFYSVRQaGNCaEo1SjFqNUZDNS1sVlE6MQ#gid=0" %> |

              <%if current_user.present? && (current_user.usertype=="superadmin" || current_user.usertype=="subadmin")%>
                <%= hidden_field_tag "tutor_id" , tutor%>
                <%= link_to 'Create Or Show Tutor Availabilties', tutor_availabilities_path(:tutor_id => tutor) %>
              <%end%>
            </div><!--tutorschedule div end-->
            <div class="fix"></div>
          </div><!--tutoritem div end-->
        <% end %>
      <%end%>
      <%= will_paginate(@subadmin_tutors) %>
    <%else%>
      <br/>
      No Tutor Found.
    <%end%>
  <%end%>
<%else%>
  <% if @searched_user.present? %>
    <% user = @searched_user%>
    <div class="tuteritem">
      <div class="avatar">
        <% if user.avatar %>
          <%=link_to image_tag(user.avatar.url(:thumb)), user %>
        <% end %>
      </div><!--avatar div end-->
      <div class="tutordescription">
        <div>
          <%if user.fullname.present?%>
            Name:<%= user.fullname%>
          <%end%>
          <%if user.username.present?%>
            Username: <%=user.username%>
          <%end%>
        </div>
        <div>
          University:<%= user.university.name unless user.university.blank?%>
        </div>
        <div>
        </div>
        <div>
          <% unless user.department.blank?%>
            Department:
            <%= user.department.name%>
          <%end%>
        </div>
      </div><!--tutordescription div end-->

      <div class="tutorschedule">
        <%= approve_link(@searched_tutor)%><br />
        <%= link_to 'Show', user %> |
        <a href="/users/<%= user.id %>/edit/">Edit Personal</a> |

        <%if current_user.usertype == "superadmin"%>
          <%= link_to 'Edit', edit_tutor_path(@searched_tutor) %> |
          <a href="/users/<%= user.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">
            Delete
          </a>
          |
          <%= link_to 'Fire Tutor', @searched_tutor, method: :delete, data: { confirm: 'Are you sure?' } %> |

        <%elsif current_user.usertype == "subadmin"%>
          <%= link_to 'Edit Tutor', "https://docs.google.com/a/coursespree.com/spreadsheet/viewform?formkey=dGFYSVRQaGNCaEo1SjFqNUZDNS1sVlE6MQ#gid=0" %> |
          <%= link_to 'Fire Tutor', "https://docs.google.com/a/coursespree.com/spreadsheet/viewform?formkey=dGFYSVRQaGNCaEo1SjFqNUZDNS1sVlE6MQ#gid=0" %> |
          <%= link_to 'Delete Tutor', "https://docs.google.com/a/coursespree.com/spreadsheet/viewform?formkey=dGFYSVRQaGNCaEo1SjFqNUZDNS1sVlE6MQ#gid=0" %> |
        <%end%>

        <%if current_user.present? && (current_user.usertype=="superadmin" || current_user.usertype=="subadmin")%>
          <%= hidden_field_tag "tutor_id" , @searched_tutor%>
          <%= link_to 'Create Or Show Tutor Availabilties', tutor_availabilities_path(:tutor_id => @searched_tutor) %>
        <%end%>
      </div><!--tutorschedule div end-->

      <div class="fix"></div>
    </div><!--tutoritem div end-->
  <%end%>
<%end%>