<p id="notice"><%= notice %></p>
<%=@tutor.approved%>
<p>
  <b>User:</b>
  <%unless @tutor.user.blank?%>
    <%= @tutor.user.username%><br />
    <b>Full Name:</b>
    <%= @tutor.user.fname + " " + @tutor.user.lname%>
  <%end%>
</p>
<div><%= link_to 'see resume', @tutor.resume.url %></div>
<div><%= link_to 'see transcript', @tutor.transcript.url %></div>

<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>
