<p id="notice"><%= notice %></p>
<%=@tutor.approved%>
<p>
  <b>User:</b>
  <%= @tutor.user.username%><br />
  <b>Full Name:</b>
  <%= @tutor.user.fName + " " + @tutor.user.lName%>
</p>
<div><%= link_to 'see resume', @tutor.resume.url %></div>
<div><%= link_to 'see transcript', @tutor.transcript.url %></div>
<p>
  <b>University:</b>
  <%= @tutor.university %>
</p>

<p>
  <b>Univ identifier:</b>
  <%= @tutor.univ_identifier %>
</p>


<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>
