<div id="notice"><%=notice%></div>
<%= form_for (@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!--new user are active right after registration-->
  <%=f.hidden_field :active, :value => 1%>
  <div id="userbasic">
    <div class="field">
      <h4>Personal Info</h4>
      <%= f.text_field :fname, :placeholder => "First Name" %>
      <div class="field"><%= f.text_field :lname, :placeholder => "Last Name" %></div>
      <div class="field">
        <%= f.email_field :email, :placeholder => "Email" %>
        <div class="field"><%= f.text_field :phone, :placeholder => "Phone" %></div>
      </div>
    </div>
    <div class="field">
      <h4>Account</h4>
      <%= f.text_field :username, :placeholder => "Username" %>
      <div class="field">
        <%= f.select :gender, [["Select Gender",2],["male",1],["female",0]]%>
      </div>
  <%# no current user just register user%>

      <%if current_user.blank? && (controller.action_name == "new" || controller.action_name == "register" || controller.action_name == "create")%>
        <div class="field" id="departments">
    <%#= f.label :university_id %>
    <%#*<br />%>
          <%= f.select :university_id, univs_and_ids, {:prompt=> "Select a University"}, :onchange => "fetchdepartments($(this).val())"%>
          <p class="field"  id="departments_updated">
            <%= render :partial => "departments", :locals => {:departments => @departments} %>
          </p>
        </div>
      <%end%>


  <%# current user is subadmin and he creates user%>

      <%if !current_user.blank? && current_user.usertype=="subadmin" && (controller.action_name == "new" || controller.action_name == "register" || controller.action_name == "create")%>
        <% if current_user.university.present?%>
          <%=f.hidden_field :university_id,  :value => current_user.university.id%>
        <%else%>
          <%= f.hidden_field :university_id,  :value => ""%>
        <%end%>

        <% if current_user.department.present? %>
          <%= f.hidden_field :department_id,  :value => current_user.department.id%>
        <%else%>
          <%= f.hidden_field :department_id,  :value => ""%>
        <%end%>

      <%end%>

  <%# current user is superadmin and he creates user%>

      <%if current_user.present? && current_user.usertype=="superadmin" && (controller.action_name == "new" || controller.action_name == "register" || controller.action_name == "create") %>
        <div class="field" id="departments">
          <%= f.label :university_id %><br />
          <%= f.select :university_id, univs_and_ids, {:prompt=> "select a university"}, :onchange => "fetchdepartments($(this).val())"%>
          <p class="field"  id="departments_updated">
            <%= render :partial => "departments", :locals => {:departments => @departments} %>
          </p>
        </div>
      <%end%>


  <%# 1) if current_user is superadmin and he add new @user some error will never save user but control
  come from create and @user contain new user with values but these are not save in db due to some error%>
  <%# 2) if current_user edit itself then @user contain current_user with values but these are not save
  in db due to some error but controll come from update%>

      <%if @user.present? && (controller.action_name == "edit" || controller.action_name == "update")%>

    <%# if current_user is superadmin and he add new @user some error will never save user but control come from create%>
    <%# if current_user is superadmin and he edit any @user some error will never update user but control come from update%>

        <%if current_user.present? && current_user.usertype == "superadmin"%>
          <%= f.label :university_id %><br />
          <%= f.select :university_id, univs_and_ids, {:prompt=> "select a university"}, :selected => @user.university_id, :onchange => "fetchdepartments($(this).val())"%>
          <div class="field" id="departments">
            <p class="field"  id="departments_updated">
              <%= render :partial => "departments", :locals => {:departments => @departments} %>
            </p>
          </div>
        <%end%>
      <%end%>

    </div>

    <div class="field">
      <h4>Password</h4>
      <%= f.password_field :password , :minlength => 8, :placeholder => "Password"%>
      <div class="field">
        <%= f.password_field :password_confirmation, :placeholder => "Confirm Password"%>
      </div>
    </div>

  <%#*<div class="field">%>
  <%#= f.label :dob %><br />
  <%#= f.date_select :dob,:start_year => 1940,:end_year=>2005, :default=> {:day=>1, :month=>1, :year=>1980} %>
  <%#*</div>%>
  <%#if @visit_register.present?%>
  <%#= hidden_field_tag :visit_register , @visit_register%>
  <%#end%>
  </div><!--userbasic div end-->
  <%#if controller.action_name != "register" && @visit_register.present?%>
  <%if @user.present? && current_user.present? && current_user.usertype != "superadmin" && current_user.usertype != "subadmin"  %>
    <div id="useradv">
      <div class="field">
        <%= f.label :avatar %><br />
        <%= f.file_field :avatar %>
      </div>
      <div class="field">
        <%= f.label :paypalEmail, "Paypal Email" %><br />
        <%= f.text_field :paypalEmail %>
      </div>

      <div class="field">
        <%= f.label :major_id %><br />
        <%= f.text_field :major_id %>
      </div>
      <div class="field">
        <%= f.label :year %><br />
        <%= f.text_field :year %>
      </div>
      <div class="field">
        <%= f.label :bio %><br />
        <%= f.text_area :bio, :size => '50x8' %>
      </div>
      <%if false%>
        <div class="field">
          <% f.label :active %><br />
          <% f.number_field :active %>
        </div>
      <%end%>
      <%if params[:action] == 'register' && false%>
        <div class="field">
          <%= f.label :tutor %><br />
          <%= f.check_box :tutor %>
        </div>
      <%end%>
      <br/>

    </div><!--useradv div end-->
  <%end%>

  <div class="field">
    <%= f.check_box :accept%> By signing up above you agree to our
    <%= link_to "Terms and conditions", "/tos" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit :value=> userbtn_text %><!--from user helper-->
  </div>

<% end %>

<script>
  function hide_show_departments(){
    if($('#addUniv').attr('checked')) {
      $("#departments").hide();
    }
    else{
      $("#departments").show();
    }
  }
  function fetchdepartments(obj_val){
    $.ajax({
      url: '<%= fetch_departments_users_path %>',
      data: {university_id: obj_val }
    });
  }
</script>