<%=link_to image_tag(user.avatar.url(:thumb)), user %>
<h4><%=@user.fullname%></h4>
<% if user.university %>
<h6><%=@user.university.name%></h6>
<% end %>
<p>
<% if user.major_id != 0 %>
	<% if defined? user.major %>
		<br/>Degree: <%= user.major.name %>
	<% end %>
<% end %>
<% if user.year %><br/>Year: <%= user.year %><% end %>
</p>
