<h1>Search for a User</h1>
<%if current_user.present? && (current_user.usertype == "superadmin" || current_user.usertype == "subadmin")%>
  <div>
    <%= form_tag "/search_users" do %>
      <p>
        <%= label_tag :name , "Enter the First name Or Last name to search for User"%>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
  </div>
<%end%>

<%if @searched_user.blank?%>
  <div id="university_nav">
    <%if @subadmin_users.blank? && current_user.present? && current_user.usertype!="subadmin"%>
      <h2>Student by Universities</h2>
      <p>
        <%=@univ%>
        <%University.first(10).each do |u|%>
          | <%= link_to u.name, :uid=> u.id%>
        <%end%> | <%=link_to 'more'%>
      </p>
    <%else%>
      <h2>Student of SubAdmin's Department</h2>
    <%end%>
    <%if @users.present?%>
      <%if @users.size < 1 %>
        <div class="placeholder">
          No students are present
        </div>
      <%end%>
    <%end%>
  </div>

  <!--university_nav div end-->
  <%if @subadmin_users.blank? && current_user.present? && current_user.usertype!="subadmin" && current_user.usertype=="superadmin"%>
    <% if @users.present? %>
      <%  @users.each do |user| %>
        <div class="useritem">
        <%#if (current_user.usertype == "superadmin" && user.usertype!="superadmin" && user.usertype!="subadmin" && user.tutor.blank?) || (current_user.usertype == "subadmin" && user.usertype!="subadmin"&& user.usertype!="superadmin" && user.tutor.blank? && current_user.university.id == user.university.id)%>
          <%if current_user.present? && (current_user.usertype == "superadmin" && user.usertype!="superadmin" && user.usertype!="subadmin" && user.tutor.blank?)%>
            <div class="avatarimg">
              <%= link_to image_tag(user.avatar.url(:thumb)), user %>
            </div>

            <div class="usersname">
              <% if user.username.present? %>
                <%=link_to user.username, user%><br />
              <%end%>
              <%  if user.fullname.present? %>
                <%= link_to user.fullname, user%><br/>
              <%end%>
          <%#*<a href="/users/%>
          <%#= user.id %>
          <%#*/register/">%>
          <%#*New%>
          <%#*</a>%>
              <a href="/users/<%= user.id %>/edit/">Edit</a> |
              <a href="/users/<%= user.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a> |
              <% @user_id=user.id%>
              <%= add_user_as_tutor(@user_id)%>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= will_paginate(@users,:params => {:uid => @uid}) %>
    <%end%>
  <%else%>
    <%unless @subadmin_users.blank?%>
      <% @subadmin_users.each do |user| %>
        <div class="avatarimg">
          <%= link_to image_tag(user.avatar.url(:thumb)), user %>
        </div>
        <div class="usersname">
          <% if user.username.present? %>
            <%=link_to user.username, user%><br />
          <%end%>
          <%  if user.fullname.present? %>
            <%= link_to user.fullname, user%><br/>
          <%end%>
          <a href="/users/<%= user.id %>/edit/">Edit</a> |
          <a href="https://docs.google.com/a/coursespree.com/spreadsheet/viewform?formkey=dEp0QjFTQnF2b3U3MDJfLWRCLXZfanc6MQ#gid=0">Delete</a> |
        <%#*<a href="/users/%>
        <%#= user.id "%>
        <%#*data-confirm="Are you sure?" data-method="delete" rel="nofollow">%>
        <%#*Delete</a> |%>
          <% @user_id=user.id%>
          <%= add_user_as_tutor(@user_id)%>
        </div>
      <%end%>
      <%= will_paginate(@subadmin_users) %>
    <%else%>
      No Student Found.
    <%end%>
  <%end%>
<%else%>
  <% if @searched_user.present? %>
    <% user = @searched_user%>
    <div class="useritem">
      <div class="avatarimg">
        <%= link_to image_tag(user.avatar.url(:thumb)), user %>
      </div>
      <div class="usersname">
        <% if user.username.present? %>
          <%=link_to user.username, user%><br />
        <%end%>
        <%  if user.fullname.present? %>
          <%= link_to user.fullname, user%><br/>
        <%end%>
        <a href="/users/<%= user.id %>/edit/">Edit</a> |
        <a href="/users/<%= user.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a> |
        <% @user_id=user.id%>
        <%= add_user_as_tutor(@user_id)%>
      </div>
    </div>
  <% end %>
<%end%>
<br/>
<%= link_to "Add New User" , new_user_path %>

