<div id="university_nav">
  <%if @subadmin_users.blank? && current_user.usertype!="subadmin"%>
    <h2>Student by Universities</h2>
    <p>
      <%=@univ%>
      <%University.first(10).each do |u|%>
        | <%= link_to u.name, :uid=> u.id%>
      <%end%> | <%=link_to 'more'%>
    </p>
  <%else%>
    <h2>Student of SubAdmin Universities</h2>
  <%end%>
  <%if @users.count < 1 %>
    <div class="placeholder">
      No students are present
    </div>
  <%end%>
</div>

<!--university_nav div end-->
<%if @subadmin_users.blank? && current_user.usertype!="subadmin"%>
  <% @users.each do |user| %>
    <div class="useritem">
      <%if (current_user.usertype == "superadmin" && user.usertype!="superadmin" && user.usertype!="subadmin" && user.tutor.blank?) || (current_user.usertype == "subadmin" && user.usertype!="subadmin"&& user.usertype!="superadmin" && user.tutor.blank? && current_user.university.id == user.university.id)%>
        <div class="avatarimg">
          <%= link_to image_tag(user.avatar.url(:thumb)), user %>
        </div>

        <div class="usersname">

          <%=link_to user.username, user%><br />
          <%= link_to user.fullname, user%>

          <br/>
      <%#*<a href="/users/%>
      <%#= user.id %>
      <%#*/register/">%>
      <%#*New%>
      <%#*</a>%>
          <a href="/users/<%= user.id %>/edit/">Edit</a>
          <a href="/users/<%= user.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a> |
          <% @user_id=user.id%>
          <%= add_user_as_tutor(@user_id)%>
        </div>
      <% end %>
    </div>
  <% end %>
<%else%>
  <%unless @subadmin_users.blank?%>
    <% @subadmin_users.each do |user| %>
      <div class="useritem">
        <%if (current_user.usertype == "subadmin" && user.usertype!="subadmin" && current_user.university.id == user.university.id  && user.tutor.blank?)%>
          <div class="avatarimg">
            <%= link_to image_tag(user.avatar.url(:thumb)), user %>
          </div>

          <div class="usersname">

            <%=link_to user.username, user%><br />
            <%= link_to user.fullname, user%>

            <br/>
            <a href="/users/<%= user.id %>/edit/">Edit</a>
            <a href="/users/<%= user.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a> |
            <% @user_id=user.id%>
            <%= add_user_as_tutor(@user_id)%>
          </div>
        <% end %>
      </div>
    <% end %>
  <%else%>
    No Student Found.
  <%end%>
<%end%>
<br/>
<%= link_to "Add New User" , new_user_path %>

