<h2>Student by Universities</h2>
<p>
<div id="university_nav">
<%=@univ%>
  <%University.first(10).each do |u|%>
    | <%= link_to u.name, :uid=> u.id%>
  <%end%> | <%=link_to 'more'%>
  </p>
  <%if @users.count < 1 %>
  <div class="placeholder">
    No students are present
  </div>
  <%end%>
</div><!--university_nav div end-->

<% @users.each do |user| %>
<div class="useritem">
  <div class="avatarimg">
    <%= link_to image_tag(user.avatar.url(:thumb)), user %>
  </div> 
  <div class="usersname">
    <%=link_to user.username, user%><br />
    <%= link_to user.fullname, user%>
	
	<%if current_user.usertype == "superadmin"%>
	<br/><a href="/users/<%= user.id %>/edit/">Edit</a>
	<a href="/users/<%= user.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a> |
  	<% end %>
	
  </div>  
</div>
<% end %>


