<p id="notice"><%= notice %></p>
<!-- Tutor Profile Bar
================================================== -->
<div class="container">
  <div class="row">
    <div class="span5">

      <div id="tutor-profile">

        <div class="row">
          <div class="span4">
            <section class="tutor-info">
              <%=render(@user)%><!--/users/_user.html.erb-->
            </section><!-- end tutor-info-->
          </div>
          <div id="edit" class="span1 offset4" style="margin-top:109px" >
            <!-- Button to trigger modal -->
            <%if @user.id == session[:user_id]%><%= link_to 'Edit', edit_user_path(@user) , :style=> "margin-top:10px" %><%end%>
          </div>
        </div>

        <section class="tutor-bio">
          <p class="bio"><%= @user.bio%></p>
        </section><!-- end tutor-bio-->

        <% if @user.tutor %>
          <section class="tutor-docs">
            <% if @user.tutor.resume_updated_at %>
              <%=link_to image_tag("resume.png"), @user.tutor.resume.url %>
            <% end %>

            <% if @user.tutor.transcript_updated_at %>
              <%=link_to image_tag("transcript.png"), @user.tutor.resume.url %>
            <% end %>

            <div id="tutor-rate">
              <p class="rate">Rate</p>
              <p class="hourly-rate"><strong>$<%= number_with_precision(@user.tutor.rate, :precision=>2) %></strong></p><p class="rate1">/ hr</p>
              <%if @user.id == session[:user_id]%>
                <p><a href="/tutors/<%= @user.tutor.id %>/edit">Edit</a></p>
              <% end %>
            </div><!-- end tutor-rate-->
          </section>

          <section id="subjectlist">
            <!--if current user is viewing tutor profile, display specialty of this user-->
            <%if (@user.usertype =='tutor' || @user.usertype == 'tem_tutor') %>
              <h3 style="clear:left;">Tutor Specialities:</h3>
              <% if (@user.usertype =='tutor' || @user.usertype == 'tem_tutor' ) &&  @user.id == session[:user_id]%>
                <a href="#" onclick="$('#editSpecialties').toggle();return false;">Edit</a>
              <%elsif current_user.usertype == 'superadmin' || current_user.usertype == 'subadmin'%>
                <a href="#" onclick="$('#editSpecialties').toggle();return false;">Edit</a>
              <%end%>
              <%if @user.tutor.subjects.count > 0 %>
                <%@user.tutor.subjects.each do |st|%>
                  <div class="item"><%=st.title %></div><!--div subject-->
                <%end%>
              <%else%>
                <br/>
                This tutor has not select specialties yet
              <%end%>

            <%end%>

            <!--if the current user is a tutor seeing self, display specialty manage panel-->
            <% if (@user.usertype =='tutor' || @user.usertype == 'tem_tutor' ) &&  @user.id == session[:user_id]%>
              <div id="editSpecialties" style="display:none;">
                <h3>Edit your specialities:</h3>

                <%@user.tutor.subjects_tutors.each do |st|%>
                  <div class="item"><%=  st.subject.title %><%=link_to 'X ',st, method: :delete %></div><!--div subject-->
                <%end%>

                <div class="title">Click to add new:</div><!--div title-->

                <%@user.tutor.available_subjects.each do |sub|%>
                  <div class="item"><%=link_to sub.title,:controller => 'subjects_tutors',:action => 'select', :sid=> sub.id%> </div>
                <%end%>
                <%=form_for @subject do |f|%>
                  <div class="title">Add new if yours are not show above:</div><!--div title-->
                  <div><%= f.text_field :title%></div><!--div title-->
                  <div><%=f.submit 'create'%></div><!---->
                <%end%><!--form for subject end-->
              </div>
            <%elsif current_user.usertype == "superadmin" || current_user.usertype == "subadmin"%>
              <div id="editSpecialties" style="display:none;">
                <h3>Edit your specialities:</h3>

                <%@user.tutor.subjects_tutors.each do |st|%>
                  <div class="item"><%=  st.subject.title %><%=link_to 'X ',st, method: :delete %></div><!--div subject-->
                <%end%>

                <div class="title">Click to add new:</div><!--div title-->

                <%@user.tutor.available_subjects.each do |sub|%>
                  <div class="item"><%=link_to sub.title,:controller => 'subjects_tutors',:action => 'select', :sid=> sub.id, :tutor_id => @user.id%> </div>
                <%end%>
                <%=form_for @subject do |f|%>
                  <div class="title">Add new if yours are not show above:</div><!--div title-->
                  <div><%= f.text_field :title%></div><!--div title-->
                  <div><%=f.submit 'create'%></div><!---->
                <%end%><!--form for subject end-->
              </div>
            <%end%><!--if tutor end-->
          </section>
        <% end %>


        <% if @user.id != session[:user_id] %>
        <% end %>
        <section class="tutor-subjects">
          <%=render 'tutorschedule'%>
        </section>

      </div><!--end tutor-profile-->
    </div><!-- end span 5-->




    <div class="span7">
      <%=render 'appointments'%>
    </div><!--end span-->

  </div><!-- end row -->
</div><!-- end container-->


