<p id="notice"><%= notice %></p>
<%= tuapply %>

<%= render 'tutorprof'%>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>
<p>
  <b>Usertype:</b>
  <%=@user.usertype%>
</p>
<%=image_tag @user.avatar.url(:medium)%>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Frst Name:</b>
  <%= @user.fName %>
</p>

<p>
  <b>Last Name:</b>
  <%= @user.lName %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Date of Birth:</b>
  <%= @user.dob %>
</p>

<p>
  <b>Paypalemail:</b>
  <%= @user.paypalEmail %>
</p>

<p>
  <b>Ave rating:</b>
  <%= @user.ave_rating %>
</p>

<p>
  <b>Fb id:</b>
  <%= @user.fb_ID %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
