<h1>Listing subadmins</h1>

<table>
  <tr>
    <th>UserName</th>
    <th>Free Code</th>
    <th></th>
    <th></th>
  </tr>

  <% @subadmins.each do |subadmin| %>
    <tr>
      <td><%= subadmin.user.username %></td>
      <%if subadmin.user.free_codes.blank?%>
        <td><%= link_to 'Generate Code', generate_free_code_subadmins_path(:user_id => subadmin.user) %></td>
      <%else%>
        <td><%= subadmin.user.free_codes.map(&:code)%></td>
        <td><%= link_to 'Regenerate Code', generate_free_code_subadmins_path(:user_id => subadmin.user) %></td>
      <%end%>
      <td><%= link_to 'Show', subadmin %></td>
      <td><%= link_to 'Edit', edit_subadmin_path(subadmin) %></td>
      <td><%= link_to 'Edit Personal', edit_user_path(subadmin.user.id) %></td>
      <td><%= link_to 'Destroy', subadmin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Subadmin', new_subadmin_path %>
