<%= form_for(@tutor_availability) do |f| %>
  <% if @tutor_availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor_availability.errors.count, "error") %> prohibited this tutor_availability from being saved:</h2>

      <ul>
      <% @tutor_availability.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :tutor_id, :value => session[:tutor_id] %>


  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time, {  :default => Time.now.change(:hour => 8),
                                      :simple_time_select => true, 
                                      :minute_interval => 20,
                                      :time_separator => "",
                                      :start_hour => 8,
                                      :end_hour => 20 } %>
  </div>
  <div class="field">
    <%= f.label :length_in_hours %><br />
    <%= f.select :length, [1,1.5,2,2.5,3,3.5,4] %>
  </div>

  <div class="actions">
    <%= f.submit 'create time slot' %>
  </div>
<% end %>
