<h1>Listing tutor_availabilities</h1>

<table>
  <tr>
    <th>Tutor</th>
    <th>Time start</th>
    <th>Time end</th>
    <th>Weekly</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tutor_availabilities.each do |tutor_availability| %>
  <tr>
    <td><%= tutor_availability.tutor_id %></td>
    <td><%= tutor_availability.time_start %></td>
    <td><%= tutor_availability.time_end %></td>
    <td><%= tutor_availability.weekly %></td>
    <td><%= link_to 'Show', tutor_availability %></td>
    <td><%= link_to 'Edit', edit_tutor_availability_path(tutor_availability) %></td>
    <td><%= link_to 'Destroy', tutor_availability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tutor availability', new_tutor_availability_path %>
