<h1>Listing tutor_availabilities</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Start</th>
    <th>End</th>
    <th>Taken</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tutor_availabilities.each do |ta| %>
  <tr>
    <td><%= ta.start_time.strftime('%D') %> <%=dayofweek(ta.start_time.wday)%></td>
    <td><%= ta.start_time.strftime('%H:%M') %></td>
    <td><%= ta.end_time.strftime('%H:%M') %></td>
    <td><%= ta.taken %></td>
    <td><%= link_to 'Show', ta %></td>
    <%if ta.taken == 0%>
    <td><%= link_to 'Edit', edit_tutor_availability_path(ta) %></td>
    <td><%= link_to 'Destroy', ta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>
<br />
<h2>Add New Time Slot</h2>
<%= render 'form'%>
