<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tutor_location.name %>
</p>

<p>
  <b>University:</b>
  <%= @tutor_location.university.name %>
</p>


<%= link_to 'Edit', edit_tutor_location_path(@tutor_location) %> |
<%= link_to 'Back', tutor_locations_path %>
