<!DOCTYPE html>
<html>
<head>
  <title>CourseSpree – Learn to get Paid</title>
  <%= stylesheet_link_tag  "application"%>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link rel="icon"  type="image/png"  href="/assets/favicon.png">  
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33838513-1']);
  _gaq.push(['_setDomainName', 'etutor.herokuapp.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>  
</head>
<body>
    <div id='header-container'>
      <header>
   <div id="logo">
				<div id="logo-img">
                                  <%= image_tag 'logo.png'%>
				</div>
				<h1>Course<span class="yellow">Spree</span></h1>
			</div>
			<div id="searchbar">
			<div class="searchbar-padding">
			<form method="get" class="searchform">
		       <input type="text" class="field s" name="s" value="Search…" onfocus="if ( this.value == 'Search…' ) { this.value = ''; }" onblur="if ( this.value == '' ) { this.value = 'Search…'; }">
		       <input type="image" src="/assets/ico-search.png" class="search-submit" name="submit" alt="Submit">
		    </form>
				
	  
			</div>
			</div>
			<div class="fix"></div>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Services<span class="parent"></span></a>
						<ul>
							<li><a href="#">Tutoring Service</a></li>
							<li><a href="#">Homework Help</a></li>
							<li><a href="#">Class Notes</a></li>
							<li><a href="#">Video Lectures</a></li>
							<div class="fix"></div>
						</ul>
					</li>
					<li><a href="#">FAQs</a></li>
					<li><a href="#">About Us</a></li>
					<li style="float:right"><a href="#" style="background-color: #17adb5">Log In</a></li>
					<li style="float:right"><a href="#" style="background-color: #17adb5">Register</a></li>
					<div class="fix"></div>
				</ul>
			</nav>
		</header>
    </div><!-- header container end -->
     <div id="subnav-container">
        <div id="subnav">
	  <nav><%=navlinks%></nav>
	  <div id='authlink'><%=authlink%></div>
        </div><!--subnav div end-->
     </div><!--subnav-container div end-->
     
    <div id='container'>
	<div class="fix"></div>
	<%= yield %>
	<div class="fix"></div>
    </div><!--container-->
    <%controller.action_name%>
    <div id="footer-container">
      <div class="fix"></div>
    <footer>
			<div class="footer-padding">
			<div id="footer-name">
			<h3>CourseSpree</h3>
			<p>235 Harrison St.<br />
			Syracuse, NY 13202</p>
			</div><!-- footer name end -->
			<nav>
				<ul>
					<li><a href="#">Services</a>
						<ul>
							<li><a href="#">Hire Tutors</a></li>
							<li><a href="#">Homework Help</a></li>
							<li><a href="#">Buy Notes</a></li>
							<li><a href="#">Sell Notes</a></li>
						</ul>
					</li>
					<li><a href="#">Help</a>
						<ul>
							<li><a href="#">Getting Started</a></li>
							<li><a href="#">How To</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Submit a Dispute</a></li>
						</ul>
					</li>
					<li><a href="#">About Us</a>
						<ul>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Meet the Team</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</li>
					
				</ul>
				
			</nav>
			
			<div id="footer-social">
			  <div id="footer-social-padding">
				  <span>Follow us...</span>
				  <a href="#"><%=image_tag 'ico-footer-twitter.png', :title=>"Follow us on Twitter", :alt=>""%></a>
				  <a href="#"><%=image_tag 'ico-footer-facebook.png', :title=>"Follow us on Facebook", :alt=>""%></a>
			  </div>
			</div>
			<div class="fix"></div>
			</div><!-- padding end -->
	      <div class="fix"></div>
    </footer>
    
    </div><!-- footer container end -->
</body>
</html>
