<!DOCTYPE html>
<html>
<head>
  <title>Findtutor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='container'>
    <header>Tutor Center</header>
    <nav><%=navlinks%></nav>
    <div id='authlink'><%=authlink%></div>
    <div class="fix"></div>
    <%= yield %>
    <div class="fix"></div>
    
    <footer>
      &copy;coursespree.com<%=Time.now.year%>
    </footer>
  
  </div><!--container-->
  Current Controller : <%=params[:controller]%><br />
  Current Action: <%=params[:action]%>
</body>
</html>
